# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#excluyo los ejecutables uno por uno
**/Debug/nucleo
**/Debug/swap
**/Debug/cpu
**/Debug/consola
**/Debug/umc

*.log
.settings
*.d
!*.mk
!makefile